.vs/
**/bin/
**/obj/
INSTURCTIONS.md
CLAUDE.md
INSTRUCTIONS.md
SB_VehicleInventoryMicroservice/SB_VehicleInventoryDb.db
SB_VehicleInventoryMicroservice/SB_VehicleInventoryDb.db-shm
SB_VehicleInventoryMicroservice/SB_VehicleInventoryDb.db-wal
